p {
    background-color: lightblue;
}

li {
    color:darkblue;
    font-style: italic;
}

h1{
    color: orangered;
}

h3 {
    font-style:italic;
}

img {
    opacity: 0.8;
    border-radius: 80%;
}

.avatar {
    width:200px;
}